

article
  margin-bottom: 19px
  padding: 15px 45px
  h2
    margin-bottom: 9px
    margin-left: 11px
    color: #28292B
    font-size: 35px
    a
      color: #2D2F24
      text-decoration: none
      font-weight: bold
      &:hover
        text-decoration: underline


.article-info
  padding-left: 21px
  font-size: 15px
  color: #999999
  font-style: italic
  a
    color: #666666
    &:hover
      color: black
      font-weight: bold

p
  line-height: 35px
  // letter-spacing: 3.9px
  margin-bottom: 31px
  font-size: 23px
  color: #666666

button
  background-color: #996699
  border-radius: 5px
  border-style: solid
  // margin-left: 13px
  padding: 7px 11px
  font-size: 17px
  font-weight: bold
  color: white
  // text-transform: uppercase
  &:hover
    background-color: #cc99cc


































/////////////////////////////////////////////
