
.footercontent
  background-color: #222222
  width: 1280px
  padding-bottom: 21px
  ul
    list-style: none
    margin: 11px 21px
    float: left
    width: 335px
    li
      line-height: 39px
      font-size: 23px
    h3
      color: #B998B4
      margin-bottom: 9px
    a
      color: #999999
      text-decoration: none
      &:hover
        color: white
        // text-decoration: underline


.footer2
  // margin-top: 0px
  height: 45px
  background-color: black
  text-align: center
  color: #676767
  line-height: 45px















/////////////////////////////
