
@import "variables"
@import "navibar"
@import "centerbox"
@import "article"
@import "footer"


hr
  color: #dddddd
  border: 1px
  border-style: solid
  width: 1278px
  margin: 0 auto


body
  background-color: #566680
  font-family: Arial
  // 


div
  width: 1280px
  // background-color: white
  margin: 0 auto
  // margin-top: 1px
  // margin-bottom: 1px

.outbox
  background-color: #8994A6
  height: 100%
  width: 1355px
  // margin: 0 auto

$titlebox-height : 185px
.titlebox
  background-color: white
  height: $titlebox-height
  padding-top: 65px

$title-height: 90px
.companyname
  font-size: 55px
  font-weight: bold
  color: white
  background-color: #B998B4
  text-align: center
  height: $title-height
  line-height: $title-height
  width: 470px
  margin-left: 27px



.clear
  clear: both
